
@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

@font-face {
   font-family: 'Snell Roundhand';
	  src: url('SnellRoundhand-Bold.ttf') format('truetype');
 }

html, body {
  font-family: sans-serif;

}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%;

}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 27%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

}


.formLogo{
	height: 90px;
	position: fixed;
	width: 100px;
	top: 0;
	left: 0;
	z-index: 10;
}

#logo {
	margin-top: 10px;
	width:90px;
	margin-left:50px;

}
/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin-top: 0px;
	padding-top: 0px;
	min-height: 600px;
 	font-size: 0px;
 	margin-top:79px;
}
/***************************Gauche menus***********************************/
.gauche {
	display: inline-block;
	background-color: #fff0f0;
	width: 25%;
	vertical-align: top;
	font-size: 15px;

}

.sidenav{
	position: fixed;
 	margin-top: 20px;
 	left: 0px;
}

.sidenav .titreListe{
	color: black;
	padding: 30px;
	font-weight: bold;
 	font-size: 22px;
}

.sidenav ul{
  list-style: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 35px;
}

.sidenav li a {
  text-decoration: none;
  color: grey;
}

.sidenav li a:hover {
  color: blue;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 75%;
	font-size: 15px;
	vertical-align: top;
}


/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: #96bf0d;
	height: 200px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: #699c04;
	font-size: 0px;
	text-align: right;
	height: 75%;
	padding: 0px;


}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;


}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
	transition:0.5s;
}

nav.menuPrincipal ul li .actif {
		display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}



/*************************************************/
nav.menuTypeProduit{
	text-align: CENTER;
	height: 35%;
	background-color: #92d70b;


}

nav.menuTypeProduit ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;


}


nav.menuTypeProduit ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
	background-color: #F3F781;
	margin-left: 3%;
	margin-right:  3%;
	margin-top: 1%;
}

nav.menuTypeProduit ul li.actif {
		display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
		font-size: 20px;
		font-weight: bold;
		font-family: Helvetica;
		background-color: #04B404;
		margin-left: 3%;
		margin-right:  3%;

}
nav.menuTypeProduit ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
		margin-top: 1%;
}

nav.menuTypeProduit ul li a:hover {
  color: grey;
	transition:0.5s;
}



/****************************************************/
/*styles pour la vue accueil                     */
/****************************************************/


#baniere{
	margin-top: 1%;
	height: 400px;
	width: 100%;
	background-image: url(../image/banniereAccueil.jpeg);
	background-size: 100% 100%;
	background-repeat:no-repeat;

}


.menuAccueil{
	margin-top: 2%;
	width:100%;

}

.menuAccueil li {
	display: inline-block;
	margin-left:  10%;
	border: 2px solid black;
	width: 18%;
	text-align: center;
	padding:3% 1.5% 3% 1.5%;
	border-radius: 10px;
}

li#liv{
	background-color: #F49F16;
}
li#promo{
 background-color: #1FC1E1;
}
li#prod{
 background-color: #8746E3;
}
#corpsAccueil{
	height: 300px;
		width: 100%;
}

/****************************************************/
/*styles pour la vue produit                     */
/****************************************************/
#corpsProduit{
	display: inline-block;
	min-height: 300px;
	height: auto;
	width: 75%;
	margin-top: 15%;
}
.produitthis{
	margin-left: 2%;
	height: 320px;
	width: 310px;
	display: inline-block;
}
.imgProduit{
	max-width: 100%;
	height: 215px;
	border-radius: 7px;}

	/****************************************************/
	/*styles pour le formulaire du panier           */
	/****************************************************/
	#panier{
		display: inline-block;
		width: 300px;
		font-size: 15px;
		height: inherit;
		float: right;
		margin-right: 2%;
		margin-top: 16%;
	}
	.panierthis{
	padding: 2% 2% 2% 2%;
	border: 2px solid #92d70b;
	}
	.lblPanier{
	font-size: 20px;
	text-decoration: bold;
	margin-left: 80px;
	}
	.panierthis .nomP{
	margin-left: 3px;
	margin-right: 25px;
	}
	.panierthis .nbPlat{
	margin-right: 25px;
	}
	.panierthis #supprPlat{
	width: 15px;
	margin-left: 10px;
	background-color: #FE2E2E;
	border: 1px solid black;
	text-align: center;
	border-radius: 6px;
	}
	.panierthis .lbltotal{
	font-weight: bold;
	margin-left: 170px;
	}
	.panierthis .prixTotal{
	font-weight: bold;
	}

	.panierthis #validerCommande{
	background-color: #FAFAFA;
	border-style: solid;
	border-width: 2px;
	border-color: #92d70b;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	}
	.panierthis #validerCommande:hover{
	background-color: #FAFAFA;
	border-style: solid;
	border-width: 2px;
	border-color: #92d70b;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	padding: 3px 3px 3px 3px;
	border-radius: 6px;
	transition:0.5s;
	}

	.panierthis .lblVide{
	color : grey;

	}



/*styles pour le formulaire connexion               */
/****************************************************/

.formInscriptionV{
		margin-top: 10%;
		margin-left:35%;
		height: 100px;
		z-index: 10;
		display: inline-block;
}
.formInscriptionV input{
	background-color: #FAFAFA;
	border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
	border-width: 2px;
	border-color: #92d70b;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
}

.formInscriptionV input[type='submit']:hover{
	background-color: #F3F781;
	transition:0.5s;
}

.formConnexion{
	margin-top: 15%;
	margin-left:35%;
	height: 100px;
	z-index: 10;
	display: inline-block;
}

.formConnexion input[type='text']:valid{
	border-color: green;
}

.formConnexion input[type='password']:valid{
	border-color: green;
}
.formConnexion input[type='text']:invalid{
	border-color: red;
}

.formConnexion input[type='password']:invalid{
	border-color: red;
}

.formConnexion input{
	background-color: #FAFAFA;
	border-style: solid;
	margin-top: 10px;
	margin-left: 20px;
	border-width: 2px;
	border-color: #92d70b;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: BLACK;
	border-radius: 10px;
	width: 400px;
	height: 40px;
}

.formConnexion input[type='submit']:hover{
	background-color: #F3F781;
	transition:0.5s;
}
/****************************************************/
/*styles pour le menu du profil du connecté         */
/****************************************************/

nav.menuProfil {
	margin-top: 15%;
	background-color: white;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #92d70b;
}

nav.menuProfil ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;
}

nav.menuProfil ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}

nav.menuProfil ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
		border-style: solid;
		border-bottom: 0px;
		border-left: 0px;
		border-width: 2px;
		border-color: #92d70b;
}

nav.menuProfil ul li a:hover {
  color: grey;
}

nav.menuProfil ul li .actif {
	display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuProfil .photoProfil input{
	width: 240px;
	height: 240px;
}

nav.conteneurProfil{
	margin-top: 0.5%;
	background-color: white;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #92d70b;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 2%;
}

nav.menuProfil input[type='submit']{
		margin-left: 65%;
		background-color: #FAFAFA;
	  border-style: solid;
		margin-top: 10px;
	  border-width: 2px;
	  border-color:  #92d70b;
		text-align: center;
	  font-size: 16px;
	  letter-spacing: 2px;
	  color: BLACK;
		border-radius: 10px;
		width: 400px;
		height: 80px;
		display: inline-block;
	}

nav.menuProfil input[type='submit']:hover{
		margin-left: 66%;
		background-color:  #F3F781;
		border-style: solid;
		border-width: 2px;
		border-color:  #92d70b;
		font-size: 16px;
		letter-spacing: 2px;
		color: BLACK;
		transition:0.7s;
	}


nav.conteneurProfil input[type='submit']{
		background-color: #FAFAFA;
	  border-style: solid;
		margin-top: 10px;
		margin-left: 20px;
	  border-width: 2px;
	  border-color:  #92d70b;
		text-align: center;
	  font-size: 16px;
	  letter-spacing: 2px;
	  color: BLACK;
		border-radius: 10px;
		width: 400px;
		height: 40px;
	}
nav.conteneurProfil input[type='submit']:hover{
		background-color: #F3F781;
		border-style: solid;
		border-width: 2px;
		border-color:  #92d70b;
		font-size: 16px;
		letter-spacing: 2px;
		color: BLACK;
		transition:0.5s;
	}

	/****************************************************/
	/*styles pour l'inscription                         */
	/****************************************************/

	.formInscription{
		margin-top: 15%;
		margin-left:35%;
		height: 100px;
		z-index: 10;
		display: inline-block;
	}

	.formInscription input[type='text']:valid{
		border-color: green;
	}

	.formInscription input[type='password']:valid{
		border-color: green;
	}
	.formInscription input[type='text']:invalid{
		border-color: red;
	}

	.formInscription input[type='password']:invalid{
		border-color: red;
	}

	.formInscription input{
		background-color: #FAFAFA;
		border-style: solid;
		margin-top: 10px;
		margin-left: 20px;
		border-width: 2px;
		border-color: #92d70b;
		text-align: center;
		font-size: 16px;
		letter-spacing: 2px;
		color: BLACK;
		border-radius: 10px;
		width: 400px;
		height: 40px;
	}

	.formInscription input[type='submit']:hover{
		background-color: #F3F781;
		transition:0.5s;
	}

	#corpsResponsable{
	position:absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 400px;
  margin-left: -500px;
  margin-top: -100px;
}

#corpsResponsable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#corpsResponsable td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

#corpsResponsable tr:nth-child(even) {
    background-color: #dddddd;
>>>>>>> eed5e92df4f309fc5d359f08d47421e6a014a19b
}
