
@charset "ISO-8859-1";
*{
	margin:0%;
	padding:0%;
}

@font-face {
   font-family: 'Snell Roundhand';
	  src: url('SnellRoundhand-Bold.ttf') format('truetype');
 }

html, body {
  font-family: sans-serif;

}

/****************************************************/
/*styles pour le conteneur                             */
/****************************************************/
.conteneur{
	margin: 0px;
	padding: 0px;
	width: 100%;

}

/****************************************************/
/*styles pour le header                             */
/****************************************************/
header {
  height: 27%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

}


.formLogo{
	height: 90px;
	position: fixed;
	width: 100px;
	top: 0;
	left: 0;
	z-index: 10;
}

#logo {
	margin-top: 10px;
	width:90px;
	margin-left:50px;

}
/****************************************************/
/*styles pour la zone centrale de la page           */
/****************************************************/
main {
	margin-top: 0px;
	padding-top: 0px;
	min-height: 600px;
 	font-size: 0px;
 	margin-top:79px;
}
/***************************Gauche menus***********************************/
.gauche {
	display: inline-block;
	background-color: #fff0f0;
	width: 25%;
	vertical-align: top;
	font-size: 15px;

}

.sidenav{
	position: fixed;
 	margin-top: 20px;
 	left: 0px;
}

.sidenav .titreListe{
	color: black;
	padding: 30px;
	font-weight: bold;
 	font-size: 22px;
}

.sidenav ul{
  list-style: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 35px;
}

.sidenav li a {
  text-decoration: none;
  color: grey;
}

.sidenav li a:hover {
  color: blue;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 75%;
	font-size: 15px;
	vertical-align: top;
}


/****************************************************/
/*styles pour le footer                             */
/****************************************************/
footer {
	background-color: #96bf0d;
	height: 200px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

footer p{
	padding: 15px;
	padding-top: 25px;
}


/****************************************************/
/*styles pour le menu principal                     */
/****************************************************/
nav.menuPrincipal{
	background-color: #699c04;
	font-size: 0px;
	text-align: right;
	height: 75%;
	padding: 0px;


}

nav.menuPrincipal ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;


}


nav.menuPrincipal ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
}


nav.menuPrincipal ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}

nav.menuPrincipal ul li a:hover {
  color: grey;
	transition:0.5s;
}

nav.menuPrincipal ul li .actif {
		display: table-cell;
  	background-color: ivory;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
}



/*************************************************/
nav.menuTypeProduit{
	text-align: CENTER;
	height: 35%;
	background-color: #92d70b;


}

nav.menuTypeProduit ul {
	display: inline-block;
	list-style: none;
	margin-top:5px;


}


nav.menuTypeProduit ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
	background-color: #F3F781;
	margin-left: 3%;
	margin-right:  3%;
	margin-top: 1%;
}

nav.menuTypeProduit ul li.actif {
		display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
		font-size: 20px;
		font-weight: bold;
		font-family: Helvetica;
		background-color: #04B404;
		margin-left: 3%;
		margin-right:  3%;

}
nav.menuTypeProduit ul li a {
	display: table-cell;
    text-decoration: none;
  	color: black;
  	text-align: center;
  	vertical-align: middle;
  	height: 50px;
  	width: 140px;
		margin-top: 1%;
}

nav.menuTypeProduit ul li a:hover {
  color: grey;
	transition:0.5s;
}



/****************************************************/
/*styles pour la vue accueil                     */
/****************************************************/


#baniere{
	margin-top: 12.3%;
	height: 400px;
	width: 100%;
	background-image: url(../image/banniereAccueil.jpeg);
	background-size: 100% 100%;
	background-repeat:no-repeat;

}


.menuAccueil{
	margin-top: 2%;
	width:99%;
	margin-bottom: 5%;

}

.menuAccueil li {
	display: inline-block;
	margin-left:  10%;
	border: 2px solid black;
	width: 18%;
	text-align: center;
	padding:3% 1.5% 3% 1.5%;
	border-radius: 10px;
}

li#liv{
	background-color: #F49F16;
}
li#promo{
 background-color: #1FC1E1;
}
li#prod{
 background-color: #8746E3;
}
#corpsAccueil{
	height: 300px;
}

/****************************************************/
/*styles pour la vue produit                     */
/****************************************************/
#corpsProduit{
	min-height: 600px;
}
.produitthis{
	margin-left: 2%;
	margin-top: 15%;
	margin-right: 5px;
	height: 320px;
	width: 310px;
	display: inline-block;
}
.imgProduit{
	max-width: 100%;
	height: 215px;
	border-radius: 7px;
}
